<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="page__news" id="news">
      <div class="news__container _container">
        <div class="news__content">
          <div class="news__title title">Новости нашей школы</div>
          <div class="news__subtitle">События, которые происходят в школе</div>
          <div class="news__grid">
            <div class="news__item">
              <div class="news__image">
                <img
                  src="../static/img/news/example.jpg"
                  class="image"
                  alt=""
                />
              </div>
              <div class="news__about">Текст</div>
              <div class="news__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Molestias illum, culpa optio debitis vitae deleniti animi cumque
                voluptates, quae laborum itaque est in deserunt accusamus
                molestiae sunt necessitatibus? Dignissimos, autem?
              </div>
              <a href="/news" class="news__button">Читать далее</a>
            </div>
            <div class="news__item">
              <div class="news__image">
                <img
                  src="../static/img/news/example.jpg"
                  class="image"
                  alt=""
                />
              </div>
              <div class="news__about">Текст</div>
              <div class="news__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Molestias illum, culpa optio debitis vitae deleniti animi cumque
                voluptates, quae laborum itaque est in deserunt accusamus
                molestiae sunt necessitatibus? Dignissimos, autem?
              </div>
              <a href="/news" class="news__button">Читать далее</a>
            </div>
            <div class="news__item">
              <div class="news__image">
                <img
                  src="../static/img/news/example.jpg"
                  class="image"
                  alt=""
                />
              </div>
              <div class="news__about">Текст</div>
              <div class="news__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Molestias illum, culpa optio debitis vitae deleniti animi cumque
                voluptates, quae laborum itaque est in deserunt accusamus
                molestiae sunt necessitatibus? Dignissimos, autem?
              </div>
              <a href="/news" class="news__button">Читать далее</a>
            </div>
            <div class="news__item">
              <div class="news__image">
                <img
                  src="../static/img/news/example.jpg"
                  class="image"
                  alt=""
                />
              </div>
              <div class="news__about">Текст</div>
              <div class="news__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Molestias illum, culpa optio debitis vitae deleniti animi cumque
                voluptates, quae laborum itaque est in deserunt accusamus
                molestiae sunt necessitatibus? Dignissimos, autem?
              </div>
              <a href="/news" class="news__button">Читать далее</a>
            </div>
            <div class="news__item">
              <div class="news__image">
                <img
                  src="../static/img/news/example.jpg"
                  class="image"
                  alt=""
                />
              </div>
              <div class="news__about">Текст</div>
              <div class="news__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Molestias illum, culpa optio debitis vitae deleniti animi cumque
                voluptates, quae laborum itaque est in deserunt accusamus
                molestiae sunt necessitatibus? Dignissimos, autem?
              </div>
              <a href="/news" class="news__button">Читать далее</a>
            </div>
            <div class="news__item">
              <div class="news__image">
                <img
                  src="../static/img/news/example.jpg"
                  class="image"
                  alt=""
                />
              </div>
              <div class="news__about">Текст</div>
              <div class="news__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Molestias illum, culpa optio debitis vitae deleniti animi cumque
                voluptates, quae laborum itaque est in deserunt accusamus
                molestiae sunt necessitatibus? Dignissimos, autem?
              </div>
              <a href="/news" class="news__button">Читать далее</a>
            </div>
            <div class="news__item">
              <div class="news__image">
                <img
                  src="../static/img/news/example.jpg"
                  class="image"
                  alt=""
                />
              </div>
              <div class="news__about">Текст</div>
              <div class="news__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Molestias illum, culpa optio debitis vitae deleniti animi cumque
                voluptates, quae laborum itaque est in deserunt accusamus
                molestiae sunt necessitatibus? Dignissimos, autem?
              </div>
              <a href="/news" class="news__button">Читать далее</a>
            </div>

            <div class="news__item">
              <div class="news__image">
                <img
                  src="../static/img/news/example.jpg"
                  class="image"
                  alt=""
                />
              </div>
              <div class="news__about">Текст</div>
              <div class="news__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Molestias illum, culpa optio debitis vitae deleniti animi cumque
                voluptates, quae laborum itaque est in deserunt accusamus
                molestiae sunt necessitatibus? Dignissimos, autem?
              </div>
              <button class="news__button">Читать далее</button>
            </div>
            <div class="news__item">
              <div class="news__image">
                <img
                  src="../static/img/news/example.jpg"
                  class="image"
                  alt=""
                />
              </div>
              <div class="news__about">Текст</div>
              <div class="news__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Molestias illum, culpa optio debitis vitae deleniti animi cumque
                voluptates, quae laborum itaque est in deserunt accusamus
                molestiae sunt necessitatibus? Dignissimos, autem?
              </div>
              <button class="news__button">Читать далее</button>
            </div>
            <div class="news__item">
              <div class="news__image">
                <img
                  src="../static/img/news/example.jpg"
                  class="image"
                  alt=""
                />
              </div>
              <div class="news__about">Текст</div>
              <div class="news__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Molestias illum, culpa optio debitis vitae deleniti animi cumque
                voluptates, quae laborum itaque est in deserunt accusamus
                molestiae sunt necessitatibus? Dignissimos, autem?
              </div>
              <button class="news__button">Читать далее</button>
            </div>
            <div class="news__item">
              <div class="news__image">
                <img
                  src="../static/img/news/example.jpg"
                  class="image"
                  alt=""
                />
              </div>
              <div class="news__about">Текст</div>
              <div class="news__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Molestias illum, culpa optio debitis vitae deleniti animi cumque
                voluptates, quae laborum itaque est in deserunt accusamus
                molestiae sunt necessitatibus? Dignissimos, autem?
              </div>
              <button class="news__button">Читать далее</button>
            </div>
            <div class="news__item">
              <div class="news__image">
                <img
                  src="../static/img/news/example.jpg"
                  class="image"
                  alt=""
                />
              </div>
              <div class="news__about">Текст</div>
              <div class="news__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Molestias illum, culpa optio debitis vitae deleniti animi cumque
                voluptates, quae laborum itaque est in deserunt accusamus
                molestiae sunt necessitatibus? Dignissimos, autem?
              </div>
              <button class="news__button">Читать далее</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../static/js/main.js"></script>
  </body>
</html>
